.active-tab {
    color: navy !important;
    background-color: whitesmoke !important;
    border-radius: 10px !important;
}

.list-group-item:hover {
    color: red;
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
};