.active-tab {
    color: navy !important;
    background-color: whitesmoke !important;
    border-radius: 10px !important;
}

.list-group-item:hover {
    color: red !important;
    background-color: grey !important;
    border-radius: 10px !important;
    cursor: pointer;
}