* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: black !important;
}

h1 {
  margin: 0 !important;
  color: #fff;
  font-size: 24px;
}

ul {
  margin-bottom: 0 !important;
}

.list-group-item {
  color: #fff !important;
  margin-right: 1em;
  border-radius: 15px !important;
  padding: 0px 5px !important;
}

@media (hover: hover) {
  .list-group-item:hover {
    cursor: pointer;
    color: #149fff !important;
    transition: .4s;
  }
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}

label,
h2,
p {
  color: whitesmoke;
}

.active {
  color: navy !important;
  background: whitesmoke !important;
}

@media (hover: hover) {
  button:hover {
    background: linear-gradient(#149fff,whitesmoke);
    color: black;
    transition: .4s;
  }
}

@media (hover: hover) { 
  .image-link:hover {
    opacity: .5;
    transition: .4s;
  }
}

ul {
  padding-left: 0 !important;
}

@media screen and (max-width: 660px) {
  .cards {
    width: 100% !important;
  }

  header {
    flex-direction: column !important;
  }
}